<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>谐波分析</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="chartJsCtrl as chart">
    <div class="row">
        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>电压谐波分析</h5>
                    <small class="pull-right">X轴代表:谐波次数. Y轴代表:谐波百分含量</small>
                </div>
                <div class="ibox-content">
                        <canvas barchart options="chart.barOptions" data="chart.barDataVoltage" height="140" responsive=true ></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>电压谐波含量圆形图 </h5>
                </div>
                <div class="ibox-content">
                        <canvas doughnutchart options="chart.doughnutOptions" data="chart.doughnutDataVoltage" height="140" responsive=true></canvas>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
            <div class="col-lg-7">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>电流谐波分析</h5>
                        <small class="pull-right">X轴代表:谐波次数. Y轴代表:谐波百分含量</small>
                    </div>
                    <div class="ibox-content">
                            <canvas barchart options="chart.barOptions" data="chart.barDataVoltage" height="140" responsive=true ></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>电流谐波含量圆形图 </h5>
                    </div>
                    <div class="ibox-content">
                            <canvas doughnutchart options="chart.doughnutOptions" data="chart.doughnutDataCurrent" height="140" responsive=true></canvas>
                    </div>
                </div>
            </div>

        </div>

</div>
